:root{
--text-color:#dbe4ef;
--card: front color #144480;
--card-front-color:#00f4bf;
}
body{
    background:url(´img/bg-desktop.webp`);
    font-family:'Bai Jamjuree',sans-serif;
}
#container{
    display:fex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}
.cartão{
    margin: 1rem;
    height: 20rem;
    flex-basis: 6rem;
    
}
.cartão__conteudo{
    background-color: var(--card-front-color);
text-align: center;
height: 100%;
transform-style: preserve-3d;
transition: transform 300ms ease-in-out;
}
.cartão__conteudo h3{
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 5rem;
    position: absolute;
    margin: 6rem;
    border-radius: 6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}
.cartão__conteudo p{
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}
.cartão__conteudo__pergunta p{
color: var(--text-color);
font-weight: 500;
}
.cartão__conteudo__resposta p{
    color: var(--card-front-color);
    font-weight: 700;
}